*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#e8f8ec;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
}

h1{
    text-align:center;
    color:#2e7d32;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#555;
    margin-bottom:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

label{
    font-weight:bold;
}

input{
    width:100%;
    margin-top:10px;
    margin-bottom:20px;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#4caf50;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    background:#388e3c;
}   
